<?xml version="1.0"?>

<launch>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fisica)/launch/config_demo.rviz"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find fisica)/urdf/my_robot_arm.xacro'"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="my_robot_arm_demo" pkg="fisica" type="my_robot_arm_demo.py" output="screen" launch-prefix="gnome-terminal -e"/>

</launch>
